$color_1: white;

.imgserv {
	margin-top: 100px;
}
#cajas {
	img {
		width: 50px;
		margin: 5px;
	}
}
#showcase {
	min-height: 400px;
	background: url(../assets/computer.jpg) no-repeat;
	background-size: cover;
	color: $color_1;
	text-align: center;
}
